
<div class="container-fluid">
<div>Rank: {{ controller.detail.rank }}</div>
<table class="table table-striped">
    <tr>
        <td><img ng-src="{{controller.detail.pic}}" width="300px" height="300px"></a></td>
        <td><img ng-src="{{controller.detail.pic2}}" width="300px" height="300px"></td>
        <td><img ng-src="{{controller.detail.pic3}}" width="300px" height="300px"></td>
    </tr>
</table>
<div>{{ controller.detail.name }}</div>
<div>Info: {{ controller.detail.info }}</div>
</div>